/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/resources/public/js
/public/js
/public/assets/fontawesome-free-5.5.0-web
/out
/.repl
*.log
/.env
/node_modules
